<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Template Sekolah</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/fa.min.css">
	<link rel="stylesheet" href="scss/style.css">
</head>
<body>
	<header>
		<nav class="navbar">
			<div class="container">
				<a href="#" class="navbar-brand">
					<img src="img/logo.png" alt="Logo1">
				</a>
				<button class="btn-toggle">
					<i class="fa fa-bar"></i>
				</button>
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link" href="#">Beranda</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Tentang Kami</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Galeri</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Kontak Kami</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Berita Artikel</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Login</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="carousel slide" id="carousel-header">
			<div class="carousel-indicators">
				<li data-target="#carousel-header" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-header" data-slide-to="1"></li>
				<li data-target="#carousel-header" data-slide-to="2"></li>
				<li data-target="#carousel-header" data-slide-to="3"></li>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="carousel__boxed carousel__1">
						<div class="carousel__boxed__body">
							<h1>SMKN 1 Jenangan</h1>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
								Molestiae possimus, consectetur adipisci dignissimos illum ut minima repellat impedit fugit
								cum doloribus cupiditate debitis ea magni maxime sint! Corrupti, ducimus hic.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- script -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>