.fullHeight{
  height: 100vh;
}
.leftCol{
  height: 100%;
  background: #DFE9DD;
  padding: 10% auto;
}
.green{
  background: #9ADF79
} 
.errorValLogin{
  color:#fff !important;
}
.formInput{
  font-size: 18px;
  padding: 5px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #DFE9DD;
  background: transparent;
  color: #fff;
}

.formInput:focus{
  background: #78A7AE;
  opacity: 0.5;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #19252D;
  color: #19252D;
}
.rightCol{
  padding: 20% 10%;
  height: 100%;
  background: #9ADF79;
}
.btn-login{
  border:2px solid #fff !important;
  padding: 8px 12px;
  border-radius: 12px !important;
  background: transparent;
  color: #fff;
  font-size: 14px;
}
.btn-login:focus{
  color:#fff;
}
.btn-login:hover{
  color: #fff;
  border: 0 !important;
  background: #19252D;
  box-shadow: 2px 2px 20px #333;
}
.checkbox{
  display: block;
  font-size: 15px;
  color: #DFE9DD
}
.text-white{
  color: #fff
}
.formInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #19252D;
  opacity: 1; /* Firefox */
}

.formInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #19252D;
}

.formInput::-ms-input-placeholder { /* Microsoft Edge */
  color: #19252D;
}

.imgLogin{
  margin: 20% auto;
  box-shadow: 2px 2px 20px #9ADF79;
  border-radius: 100%;
}

/*Responsivity*/

@media screen and (max-width: 767px) {
  .leftCol{
    height: 45%;
    background: #9ADF79;
    padding: 10% auto;
    color: #DFE9DD;
  }
  .rightCol{
    padding: 10%;
    height: 55%;
    background: transparent;
  }
  .imgLogin{
    margin: 3% auto;
    width: 15%;
    height: 15%;
    box-shadow: 2px 2px 10px #fff;
  }
}
@media screen and (max-width: 544px) {
  .leftCol{
    height: 50%;
  }
  .rightCol{
    height: 50%;
  }
  .imgLogin{
    width: 24%;
    height: 24%;
  }
  .checkbox{
    font-size: 12px;
  }
}
@media screen and (max-width: 380px) {
  .leftCol{
    height: 50%;
  }
  .rightCol{
    height: 50%;
  }
  .imgLogin{
    width: 40%;
    height: 40%;
  }
  .checkbox{
    font-size: 9px;
  }
}
@media screen and (max-width: 330px) {
  .btn-login{
    border-radius: 1000px;
  }
}