.fullHeight{
  height: 100vh;
}
.leftCol{
  height: 100%;
  background: #DFE9DD;
  padding: 10% auto;
}
.green{
  background: #285E71
} 

.formInput{
  font-size: 18px;
  padding: 5px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #DFE9DD;
  background: transparent;
  color: #fff;
}

.formInput:focus{
  background: #78A7AE;
  opacity: 0.5;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #19252D;
  color: #19252D;
}
.rightCol{
  padding: 10%;
  height: 100%;
  background: #285E71;
}
.btn-login{
  border:2px solid #fff !important;
  padding: 8px 12px;
  border-radius: 12px !important;
  background: transparent;
  color: #fff;
  font-size: 14px;
}
.btn-login:focus{
  color:#fff;
}
.btn-login:hover{
  color: #fff;
  border: 0 !important;
  background: #19252D;
  box-shadow: 2px 2px 20px #333;
}
.checkbox{
  /*display: block;*/
  font-size: 15px;
  color: #DFE9DD
}
.text-white{
  color: #fff
}
.formInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #19252D;
  opacity: 1; /* Firefox */
}

.formInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #19252D;
}

.formInput::-ms-input-placeholder { /* Microsoft Edge */
  color: #19252D;
}

.imgLogin{
  margin: 10% auto;
}

/*Responsivity*/

@media screen and (max-width: 600px) {
  .leftCol{
    height: 50%;
    background: #285E71;
    padding: 10% auto;
    color: #DFE9DD;
  }
  .rightCol{
    padding: 10%;
    height: 30%;
    background: #285E71;
  }
  .imgLogin{
    margin: 5% auto;
    width: 40%;
    height: 40%;
    box-shadow: 2px 2px 26px #fff;
    border-radius: 100%;
  }
}