/*
 *
 * Navigation
 *
 */
.navbar-inverse .navbar-nav > li.active > a:focus,.navbar-inverse .navbar-nav > li.active > a:hover {
	border: 1px solid #fff;
	border-radius: 45px;
	background: rgba(256,256,256,.4);
}
.navbar-inverse .navbar-nav > li > a:focus,.navbar-inverse .navbar-nav > li > a:hover {
	border: 1px solid rgba(256,256,256,.4);

}
.navbar-inverse .navbar-nav > li.active > a {
	background: rgba(256,256,256,.4);
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li.active > a {
	border-radius: 45px;
	color: #fff;
	border: 1px solid transparent;
	padding: 10px 20px;
}
nav {
	padding: 10px;
}
.navbar-inverse {
	background: #316767;
	border: 0;
}
.navbar-inverse .navbar-brand {
	color: #fff;
}
.navbar-brand > img {
	padding: 5px;
}

#navbarHead{
	transition: 0.6s;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background: transparent;
	border-color: rgba(255,255,255,.5);
}
.navbar-inverse .navbar-toggle{
	border-color: transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	border: 0;
}
a:hover {
	text-decoration: none;
}



/*

Header


 */

.header-green {
	width: 100vh;
	width: 100%;
	background-color: #316767;
	height: 250px;
	position: relative;
}

.another {
	color: #fff;
	padding: 20% 0;
	text-align: center;
	width: 100%;
	height: 100%;
}



/*


slider


 */



.carousel-caption {
	position: relative;
	/*display: table-cell;*/
	text-align: center;
	vertical-align: middle;
	left: 0;
	bottom: 0;
	right: 0;
	transform: translate(0,25vh);
	margin: auto auto;
}


#myCarousel > .carousel-inner > .item {
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
	width: 100vh;
	width: 100%;
	/*display: table;*/
	background-size: cover;
}
code,pre{
	word-wrap: break-word;
}

.btn-caption {
	background: #316767;
	color: #fff;
}
.btn-caption:hover{
	color: #fff;
}
.carousel-inner {
	transition: 2s;
}

.right.carousel-control, .left.carousel-control {
    opacity: 0;
    filter:alpha(opacity=0); /* IE support */
}
/*


Content


 */

.border-colored{
	margin-bottom: 3rem; 
}

.content{
	padding: 20px;
	background: #fff;
	min-height: 70vh;
}
.artikel{
	padding: 20px;
	background: #fff;
	border: 1px solid #316767;
	border-radius: 0 0px 10px 10px;
	height: 80%;
	position: relative;
}
.artikel > .row > .berita-creator {
	transform: translate(-10px,-30px);
	background: #316767;
	border: 1px solid #316767;
	padding: 2rem;
	border-radius : 10px 0 10px 0 ;
	position: relative;
	color: #eee;
	box-shadow: 2px 2px 6px rgba(10,10,10,.5);
}
.site-index-artikel > .container-fluid > .col-sm-8 > .row a , .site-index > .body-content > .container > .row > .col-sm-8 > .row > a {
	color: #316767;
}
.artikel > .row > .berita-creator::before {
	content: "";
	background: #333;
	width: 10px;
	height: 10px;
	border-radius: 0 100% 0 0;
	position: absolute;
	right: -10px;
	top: -1px;
	box-shadow: 1px 2px 6px rgba(10,10,10,.6);
}

.kategori {
	padding: 0;
	border: 1px solid #ddd;
	border-radius: 10px
}

.berita-thumbnail {
	width: 50px;
	height: 50px;
	display: inline-flex;
}


.kategori-title {
	display: block;
	padding: 2rem;
	background: #fff;
	border: 1px solid #ddd;
	width: 111%;
	transform: translateX(-5%);
	border-radius: 20px 20px 0 0;
	position: relative;
}
.kategori-title::before,.kategori-title::after {
	content: "";
	background-color: #ddd;
	width: 5%;
	height: 15px;
	position: absolute;
}
.kategori-title::before{
	border-radius: 0 0 0 100%;
	bottom: -15px;
	left: -1px;
}
.kategori-title::after{
	border-radius: 0 0 100% 0;
	bottom: -15px;
	right: -1px;
}

.kategori > li {
	list-style: none;
	padding: 1rem;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	margin: 0 5px;
	color: #fff;
	background: #333;
	border-color : transparent; 
}

.index-title {
	padding: 2rem;
	text-align: center;
	border-bottom: 2px solid #ddd;
}


.more {
	padding: 1rem;
	background: #316767;
	border-radius: 2px;
	float: right;
	transition: 0.5s;
}
.more:hover {
	border-radius: 10px;
	transition: 0.5s;
}







/*


Galeri

 */

.img-prev {
	position: absolute;
	width: 100vh;
	height: 100vh;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(0,0,0,.5);
}

.img-galeri {
	cursor:pointer;
	height:150px;
	width:400px;
}
.card {
	border: 1px solid #999;
	border-radius:4px;
	margin-bottom: 10px;
	padding: 4px;
	position: relative;
}
.card-shadow {
	box-shadow: 4px 5px 6px rgba(200,200,200,.8);
}
.card-caption {
	/*display: hidden;*/

	position: absolute;
	bottom: 0;
	transition: .6s;
	left: 0;
	right: 0;
	height: auto;
	padding: 3px;
	color: #fff;
	background-color: rgba(31,67,67,.7);
}





/*

footer


 */
.col-sm-4 > .row > .col-xs-6 > span {
	display: inline-block;
	margin: 4px;
}
.circle {
	background-color: #333;
	border : 1px solid transparent;
	border-radius: 100%;
	padding: 10px;
	min-width: 40px;
	min-height: 35px;
	margin: 1%;
}
.circle{
	color: #316767;
}
.circle:hover {
	border : 1px solid #fff;
}
@media only screen and (min-width: 1000px){
	.img-center {
		margin : 25% auto ;
	}
}
.img-center {
	margin: auto;
}
footer#foot > div.container-fluid.banner > div.col-sm-4 > .row > .col-xs-6 > li {
	list-style: none;
	text-align: left;
	padding: 4px;
}
.banner{
	background: #316767;
	padding: 3%;
	color: #ddd;
}
.banner a{
	color: #eee;
}
.banner a:hover {
	color: #aaa;
}
.banner-title {
	color: #fff;
	border-bottom: 2px solid #fff;
	font-size: 18px;
	padding: 2px 4px
}
.footer{
	background: #222;
	color: #ddd;
	border:0;
	font-size: 12px;
	height: 80px;
}
.footer a {
	color: #316767;
}
.fa-xs {
  font-size: .75em; 
}
@media only screen and (max-width: 365px) {
	.info-1 {
		transform: translateX(-10px);
	}
	.info-2 {
		transform: translateX(10px);
	}

}

@media only screen and (max-width: 300px){
	.artikel-image {
		display: none
	}
}

@media only screen and (min-width: 768px){
	/*navigation*/
	.navbar-inverse {
		background: transparent;
	}
	#navbarHead-collapse{
		border-bottom: 1px solid #fff;
	}
	/*footer*/
	p.copyright{
		text-align: right;
	}
	.footer{
		padding: 30px;
	}
	.content {
		transform:  translateY(-100px);
		border: 1px solid #ddd;
		border-radius: 10px;
		transition: .5s;
	}
/*	.content:hover {
		box-shadow: 1px 1px 30px 2px rgba(10,10,10,.8);
		transition: .5s;
	}*/
	.artikel {
		/*transform:  translateY(-100px);*/
		transition: .5s;
	}
	.artikel:hover {
		box-shadow: 1px 1px 10px 2px rgba(10,10,10,.8);
		transition: .5s;
	}
	.another {
		display: none;
	}

	.content > .title-content {
		display: inline-block;
		border-style: solid;
		border-width: 1px;
		background: #fff;
		border-radius: 10px 10px 10px 0;
		border-color : #ddd;
		padding: 2rem 6rem;
		transform: translateX(-31px);
		position: relative;
	}
	.content > .title-content::before {
		content: "";
		height: 10px;
		width: 11px;
		position: absolute;
		bottom: -10px;
		left: -1px;
		background: #ddd;
		border-radius: 0 0 0 100%;
	}
	.site-index > .border-colored {
		padding: 5px;
		background-image: linear-gradient(to bottom,#316767,yellow);
		border-radius: 10px;
	}
}